.boxWrapper{
    background-color: #F0F0F0;
}

.box{
    position: relative;
    background-color: white;
    margin: 5px;
    border: 1px green solid;
    border-radius: 8px;
    text-align: right;
    overflow: hidden;
}

.insideBox{
    padding: 10px 45px;
}

@media only screen and (max-width:1170px){
    .insideBox{
        padding: 10px 2px;

    }
}

#middleBoxText {
    color: black;
    font-size: 20px;
}

#middleBoxText:hover {
    text-decoration: none;
}

.middleBox button{
    position: absolute;
    left: 10px;
} 

.bottomBox{
    font-size: 12px;
    color: gray;
}

.title{
    position: absolute;
    padding: 47px 8px;
    right: 1px;
    background-color: green;
    color: white;
}

@media only screen and (max-width:1170px){
    .title{
        position: relative;
        border-radius: 8px 8px 0 0 ;
        padding: 5px 10px 5px 0;
        font-weight: bold;
    }
}

.buttonWrapper{
    position: relative;
}
.edit {
    position: relative;
    margin: 10px 2px 0px 0px ;
    font-size: 12px !important;
    font-weight: bold !important;
    border-radius: 30px !important;
}
#saveButton {
    background-color: white;
    color: green;
    border-color: green;
    right: 825px;
}

@media only screen and (max-width:1170px){
    #saveButton{
        right: 300px
    }
}

#cancelbutton{
    background-color: green;
    right: 815px;
}


@media only screen and (max-width:1170px){
    #cancelbutton{
        right: 295px
    }
}